@import '../styles/rwd';
@import '../styles/reset';
@import '../styles/variables';
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2:400,500,600,700,800|Fjalla+One&display=swap&subset=latin-ext');

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  color: $dark-grey;
  font-family: 'Baloo Chettan 2', cursive;
  font-weight: 400;
}

.container {
  @include rwd('laptop') {
    padding: 0 15px;
    width: 100%;
  }

  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 1260px;

  &--fluid {
    width: 100%;
  }
}
