// Colors
$white: #fff;
$tomato: #ff6347;
$yellow: #feca57;
$orange: #ff9f43;
$green: #1dd1a1;
$light-red: #ff6b6b;
$red: #ee5253;
$blue: #54a0ff;
$dark-blue: #2e86de;
$marine: #00d2d3;
$light-grey: #e6e6e6;
$grey: #8395a7;
$dark-grey: #222f3e;

$border: rgba(60,60,60, 0.26);


//Spacing
$nav-width: 100px;
$gap: 10px;